.b{
    width:60px !important;
    height: 60px !important;
    border: solid 1px black;
    margin-top: 25px;
    text-align: center;
}

.col5{
    text-align: center;
    flex: 0 0 auto;
    width: 18%;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card-list div {
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  .card-list div.selected {
    background-color: #f00;
    color: #fff;
  }
  .selected-list {
    margin-top: 20px;
  }
